p
  ' Hi, I'm Brad! I'm a web developer based in Melbourne, Australia.
  ' I love learning and expanding my knowledge at every opportunity
  ' I get.

p
  ' I'm still working on this site, so it's a little light on content
  ' at the moment. You can check out the source code
  a href="https://github.com/bradfeehan/bradfeehan.github.io" here
  ' .
