@import "compass/typography/text/replacement";
@import "settings";
@import "foundation";

// Set up gutters (spacing on sides for large displays)
.gutter { margin: 0 auto; }
@mixin page-width($width) { .gutter { width: $width; } }
@media #{$medium-only} { @include page-width(rem-calc(640)); } // 640px-1024px
@media #{$large-only} { @include page-width(rem-calc(800)); } // 1025px-1440px

// Set minimum width, horizontal scroll will be needed below this width
body { min-width: rem-calc(180); }

// Spacing of sections
header, .content, footer { padding: rem-calc(20); }

// Background colour of header and footer sections
header, footer {
	background: #555;
	text-align: center;

	h1, p {
		margin: 0;
		color: white;
	}
}

// Header on mobile has spacing between avatar and title
header .avatar { margin-bottom: rem-calc(20); }

.avatar {
	width: rem-calc(200);
	@include radius($global-rounded);
}

.left-off-canvas-toggle {
	position: absolute;
	width: $tabbar-menu-icon-height;
	height: $tabbar-menu-icon-height;

	@include hamburger();
	@include hide-text();
}

.exit-off-canvas {
	display: none;
	@include hide-text();
}

.skills ul {
	list-style-type: none;
	margin-left: 0;

	li {
		@include label($radius: $global-rounded);
		margin-bottom: 0;
	}
}

.skills, .responsibilities {
	h4 { display: none; }
}

// Footer
footer p { font-size: smaller; }
