@import "compass/typography/text/replacement";
@import "settings";
@import "foundation";

header, .content { padding: 20px; }

header {
	background: #eee;
	text-align: center;
	h1, h2, h3, h4, h5, h6 {
		margin: {top: 20px; bottom: 0; };
	}
}

.avatar {
	height: 200px;
	@include radius($global-rounded);
}

.left-off-canvas-toggle {
	position: absolute;
	width: $tabbar-menu-icon-height;
	height: $tabbar-menu-icon-height;

	@include hamburger();
	@include hide-text();
}

.exit-off-canvas {
	display: none;
	@include hide-text();
}
