---
title: "Brad Feehan :: Resume"
meta_description: Resume of Brad Feehan, Melbourne Australia
---

h2 Experience
= partial "resume/job", collection: jobs

h2 Education
= partial "resume/course", collection: courses
